
.vscode/settings.json
pgpemu-esp32/.vscode/settings.json
Keys 98B6E9176C70 12-18-2025 11-41-05 AM.json
pgpemu-esp32/main/secrets.c
schmatic/**/*-backups/
schmatic/**/*.kicad_prl
schmatic/**/_autosave-*
schmatic/**/#auto_saved_files#
schmatic/**/fp-info-cache
